

.exit-to-app-select-branch {
    font-weight: bold;
    margin-right: 2rem;
    color: white;
}

.exit-to-app-select-branch:hover {
    cursor: pointer;
    opacity: 0.5;
}

.show-company-name {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 1rem;
    color: white;
}

.content-select-branch {
    padding-top: 5rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.cardbranch {
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
    transition: 0.1s;
    /* border: 1px solid #0064B0; */
    width: 95%;
    background: white;
    border-radius: 0px 30px 30px 0px;
}

.cardbranchs {
    transition: 0.1s;
    width: 100%;
    background: white;
    border: 2px solid #ffff;
    border-bottom: 2px solid #0064B0;
    border-radius: 3px;
}

.cardbranchs:hover {
    transition: 0.1s;
    width: 100%;
    background: white;
    color: #0064B0;
    cursor: pointer;
    border: 2px solid #0064B0;
    border-radius: 8px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}